body {
    color: blue;
}

body {
    color:red;
}

/* This is a CSS comment */

/* Change color of all paragraph and list items*/
p, li {
    color: green;
}

/* target child elements */
section h1 {
    color: darkred;
}

/* Style a class */
.secondary-heading {
    color: purple;
}

/* Style an id */

#main-sectiion {
    color: pink;
    font-weight: bold;
}

/* Link Visited Hover Active (LVHA) */

/* defaul */
a:link {
    color: red;
}

/* after visited, not the moment of clicking */
a:visited {
    color: gray;
}

/* mouse on items */
a:hover {
    color: black;
}

/* the moment of clicking */
a:active {
    color: white;
}


a[href="https://algonquincollege.com"] {
    color:green
}