body {
    background-color: lightgray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    line-height: 1.6;
    /* background-image: url("../images/white_brick_wall.png"); */
    /* background-repeat: no-repeat; */
    /* background-position: 10px 20px;    */
    /* 10 from left, 20 from top */
    /* background-size: contain; */
}

header {
    color: white;
    background-color: cornsilk;
    background-image: url("../images/bread.jpg");
    background-size: cover;
    height: 100vh;
}

.bolded {
    font-weight: bold;
}

.uppercase {
    text-transform: uppercase;
}

.italics {
    font-style: italic;
}